body {
    width: 100%;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background-color: #16161a;
    background-image: url("./assets/freelancer.svg");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
    overflow-x: hidden;
}

h1 {
    font-weight: bold;
    margin-bottom: 1rem;
}
hr {
    color: #7f5af0;
    border: 2px solid #7f5af0;
    max-width: 65px;
    opacity: 1;
}

svg {
    margin-right: 5px;
}

.btn-primary {
    background-color: #7f5af0;
    border-color: #7f5af0;

    color: #fffffe;
}

.btn-primary:hover {
    background-color: #5328cd;
    border-color: #5328CDFF;
}

#main {
    margin: 1rem 0;
    color: #fffffe;
}